.header {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  &__items {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.item {
  &__cart {
    display: flex;
    align-items: center;
    & p {
      margin-left: 10px;
      margin-top: 20px;
    }
  }

  &__favorite {
    display: flex;
    align-items: center;
    & p {
      margin-left: 10px;
      margin-top: 20px;
    }
  }
}
