.posts {
  &__dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    padding: 56px 0;

    .card-header {
      display: flex;
      justify-content: space-between;
    }

    .card-title {
      padding-right: 10px;
    }

    .card-box {
      display: flex;
      flex-direction: column;
      min-height: 350px;
    }
  }
}
