.comments__dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  padding: 56px 0;

  .card-box {
    display: flex;
    flex-direction: column;
    min-height: 350px;
  }
}

form {
  margin-top: 50px;
  text-align: left;
  width: 50%;
  min-width: 250px;
}
