.dashboard__header {
	display: flex;
	padding-top: 24px;
	font-weight: bold;
	font-size: 24px;
	text-align: left;

	.btn-back {
		display: block;
		cursor: pointer;
		margin-right: 16px;

		svg {
			transform: rotate(180deg);
			width: 32px;
			height: 25px;
		}
	}
}