.users__dashboards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  padding: 56px 0;

  .card-body,
  .card-header {
    text-align: left;
  }

  .card-box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-name,
  .card-phone,
  .card-username {
    padding: 0;
    margin: 0;
  }

  .card-label {
    font-weight: bold;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
  }
}
